= simple_form_for(form, url: address_path(address), method: :put, remote: true, html: { id: "#{type.to_s}-form" }) do |f|
  = render partial: 'devise/registrations/partials/forms/fields', locals: { f: f, type: type, countries: countries }
  = f.button :submit, t('buttons.save')
