%main.container
  = render partial: 'pages/partials/home/newest_books', locals: { newest_books: @newest_books }
.container
  = render 'pages/partials/home/get_started'
  = render partial: 'pages/partials/home/best_sellers', locals: { best_sellers: @best_sellers }
