- if flash[:notice]
  .alert.alert-success.flash-notice{role: "alert"}
    = flash[:notice]
    %span.close-flash
      %i.fas.fa-times
- if flash[:alert]
  .alert.alert-danger.flash-alert{role: "alert"}
    = flash[:alert]
    %span.close-flash
      %i.fas.fa-times
